body {
}
#imgCentro {
position:absolute;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
width:380px;
height:242px;
}

/* Button Laranja */
.btn-press-laranja {
    border-radius: 5px;
    
	
}

.btn-press-laranja:hover {
	background: #ff8c00;
	color: #fff;
}

.btn-press-laranja:active {
	background: #ff6600;
	
}
.glyphicon{
    font-size:30px
}

